 
 
 .content {
    margin-top: 70px !important;
    background-color: #3B4046   !important; 
    padding: 2.938rem 3rem 3.063rem  !important;
    border-radius: 0.5rem  !important;
    li{
        list-style-type: disc;
    }
    p {
        font-size: 1.125rem;
        line-height: 2rem;

}
}
.privacy__content {
    background: url(https://velocity.az/front/img/vector/Vector-about.svg) center no-repeat;
    padding: 47px 48px 49px;
}
 